# Created by .ignore support plugin (hsz.mobi)

/.clover/
/.idea/
/.settings/
/target/
/minemapping.iml

/data/
/src/main/resources/batch/MinesAndProspects_1.2016.1..mdb
postgresql-42.0.0.jar
.DS_Store
bin/
.metadata/
.classpath
RemoteSystemsTempFiles/
Servers/
.project
.vscode
