<!DOCTYPE html>

<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Test</title>


</head>
<body ng-controller="NameCtrl">
    <img ng-src="{{image}}" width="200">
    <ul><li ng-repeat="name in names">{{"name" + name}} <a href ng-click="removeName(name)">Remove</a> </li> </ul>
    <br><br>
    <form ng-submit="addName()">
    <input type="text" ng-model="enteredName">
    <input type="submit" value="add">
   </form>
<input type="text" ng-model="test"> <input type="text" ng-model="test2">
{{name}}
<div ng-controller="NgController">
    {{name}}

</div>
<div ng-bind="test"></div>
{{test}} {{test2}}

{{firstname}} {{lastname}}

<div ng-controller="divController">

    {{blah}}
</div>
<script src="lib/angular/angular.js"></script>

<script>

    var myApp = angular.module('myApp', []);
    myApp.controller('NameCtrl', function ($scope) {
        $scope.name = "tom from myApp.controller";
        $scope.names = ['tom', 'dick','harry'];
        $scope.image = "http://www.idahohotsprings.com/destinations/rocky_canyon/091707/rocky-canyon-hot-springs-01.jpg";
        $scope.addName = function(){
            $scope.names.push($scope.enteredName);
            console.log("Adding " + $scope.enteredName);
            $scope.enteredName='';
        }

        $scope.removeName = function(name){
            var i = $scope.names.indexOf(name);
            console.log("Removing" + " " + name + " at " +i);
            $scope.names.splice(i, 1);
        }

        $scope.$watch('lastname', function(newValue, oldValue){
            console.log("new value is" + newValue);
        })

        setTimeout(function(){
            $scope.name = "tbz";
            $scope.lastname = "tbz2";
            $scope.$apply();

        }, 1000);

        $scope.lastname = "yay!";
    });

    function divController($scope) {
        $scope.blah = "test";

    }
    function NgController($scope) {
        $scope.firstname = "tom";
        $scope.lastname = "butler";

        console.log($scope.firstname);
    }
    console.log("test");

</script>
</body>
</html>