<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0
}

#map-canvas {
	height: 100%
}
</style>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBniLvnDpx7QTe0qcUsAw00YpiJosm2Uao&sensor=false">
    </script>
<script type="text/javascript">
    // just a test
      function initialize() {
    	// Set point
        var myLatlng = new google.maps.LatLng(43.00337, -116.69986);
        //Terrain by Default
		var mapType = google.maps.MapTypeId.TERRAIN;
        
        //Setup map
        var mapOptions = {
          center: myLatlng,
          zoom: 14,
          mapTypeId: mapType,
          mapTypeControl: true
        };
        
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

		//Place point on map
        var marker = new google.maps.Marker({
        	position: myLatlng,
        	map: map,
        	title:"Silver Queen Mine (Birmingham)"
		});
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
	<div id="map-canvas" />
</body>
</html>
